/*
* These styles should always be imported when you use squiggle-components.
*/

/* This file is empty for now, but can be useful in the future, e.g. if we depend on some external library that provides its own stylesheet. */

/* Override CodeMirrors default outline. */
.cm-editor.cm-focused {
  outline: none;
}

.cm-gutters {
  color: #aaa !important;
}

.ͼ2 .cm-gutters {
  background: white;
}

.ͼ2 .cm-gutters {
  border: none;
}

.ͼ2 .cm-activeLine {
  border-radius: 0 3px 3px 0;
  margin-right: 0.25em;
}

.cm-lineNumberDot .cm-gutterElement.cm-activeLineGutter {
  border-radius: 3px 0 0 3px;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
  padding-left: 0;
}

.cm-foldGutter .cm-gutterElement span[title="Fold line"] {
  position: relative;
  top: -3px;
}

.cm-gutterElement.cm-activeLineGutter {
  background-color: #abd3e857;
}

.ͼ2 .cm-activeLine {
  background-color: #abd3e857;
}

.cm-gutter.cm-lineNumbers {
  color: #bbb;
}

.cm-tooltip-autocomplete .cm-tooltip {
  @apply bg-white;
}

.cm-search {
  @apply !bg-slate-50 !px-2 !py-1;
}

.cm-search .cm-button {
  @apply !h-6 !rounded-sm !border !border-slate-300 !bg-slate-100 !bg-none !px-2 !py-0.5 !text-xs !font-medium !text-gray-600 hover:!bg-slate-200 hover:!text-gray-900;
}

.cm-search .cm-textfield {
  @apply !rounded-sm !border-slate-300 !px-2 !py-1 !text-xs !shadow-sm placeholder:!text-slate-300 focus:!border-indigo-500 focus:!ring-indigo-500 active:!border-indigo-500 active:!ring-indigo-500;
}

.cm-search label {
  @apply !text-xs;
}

.cm-search input[type="checkbox"] {
  @apply !form-checkbox !mr-1 !h-4 !w-4 !rounded !border-gray-300 !text-indigo-600 focus:!ring-0;
}

.cm-search button[name="close"] {
  @apply !right-2 !text-base !text-slate-400 hover:!text-slate-700;
}
