.direnv
packages/components/storybook-static
packages/components/grammar/generated
**/node_modules
packages/squiggle-lang/coverage/
packages/vscode-ext/media/vendor/
packages/squiggle-lang/.nyc_output/

packages/*/dist
internal-packages/*/dist
apps/*/dist
