# Security
**/betfaircertificates/
**/secrets.json

# Build artifacts
*.swp

# next.js
/.next/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# vercel
.vercel

/.env*

/src/**/*.generated.tsx
/src/**/*.generated.ts
/prisma/generated

# can be used for local elastic, https://www.elastic.co/guide/en/elasticsearch/reference/current/run-elasticsearch-locally.html
/elastic-start-local
