# Security
**/betfaircertificates/
**/secrets.json

# Build artifacts
*.swp

# next.js
/.next/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# vercel
.vercel

/.env*

/src/**/*.generated.tsx
/src/**/*.generated.ts
/prisma/generated
