<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!--<link rel="stylesheet" href="styles.css">-->
    <style>
        body {
            margin: 0;
        }
    </style>
    <title>Showcase</title>
</head>

<body>
    <div id="main"></div>
    <script src=" ./Index.bs.js "></script>
</body>

</html>