name: Squiggle packages checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: quantified-uncertainty
  # used by turbo cache hashes, see turbo.json
  PLATFORM: github

jobs:
  build-test-lint:
    name: Build, test, lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install

      - name: Turbo run
        run: npx turbo run build test lint --env-mode=loose
