name: Clean up Vercel deployments

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "42 19 * * 0"

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/install

      - name: Run cleanup script
        working-directory: ./internal-packages/ops
        env:
          VERCEL_API_TOKEN: "${{ secrets.VERCEL_API_TOKEN }}"
        run: npx tsx ./scripts/cleanup-vercel-deployments.ts
