name: Prisma Migrate Preview DB

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

# Note: we don't have a metaforecast db in preview environment, so we don't need to migrate it.

jobs:
  # TODO - use `on:` condition instead of manual `git diff` check
  check-changes:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    outputs:
      should_run_hub: ${{ steps.check-hub.outputs.changed }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Check if Hub Prisma files changed
        id: check-hub
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          git diff --name-only origin/${{ github.base_ref }} HEAD | grep -q "internal-packages/hub-db/prisma/schema.prisma" && echo "changed=true" >> $GITHUB_OUTPUT || echo "changed=false" >> $GITHUB_OUTPUT

  migrate-hub:
    needs: check-changes
    if: ${{ needs.check-changes.outputs.should_run_hub == 'true' }}
    runs-on: ubuntu-latest
    environment: Preview
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/install

      - name: Migrate Hub
        working-directory: ./internal-packages/hub-db
        env:
          DATABASE_URL: "${{ secrets.DATABASE_DIRECT_URL }}"
        run: npx prisma migrate deploy
