name: Reset Preview DB

on:
  workflow_dispatch:

jobs:
  migrate:
    runs-on: ubuntu-latest
    environment: Preview
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install

      - name: Reset
        working-directory: ./apps/hub
        env:
          DATABASE_URL: "${{ secrets.DATABASE_DIRECT_URL }}"
        run: npx prisma migrate reset --force
